version: "3"
services:
  buttons:
    image: poweruserdockerman/buttonsapp
    ports:
      - 80:8000
    container_name: buttons
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    container_name: watchtower
