name: CI
on:
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install docker stuffs in ubuntu
        run: apt update && apt install -y docker-compose
      - name: Run docker-compose
        run: docker-compose up -d
      - name: Check running containers
        run: docker ps -a
      - uses: AkhileshNS/heroku-deploy@v3.8.8
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "buttonsappwebmaster"
          heroku_email: "arttu.mykkanen@helsinki.fi"
          usedocker: true
